{{ define "error"}}
    {{ template "header"}}
        <div class="container" style="margin-top: 5%">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <center>
                                <img src="https://http.cat/400.jpg" width="256" height="256"><br>
                                <a href="/" class="btn btn-outline-danger btn-block">Back</a>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{ template "footer"}}
{{ end }}